.score_tracker
{
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  /*border: solid 1px tan;*/
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.frame
{
  display: flex;
  border: solid 2px #000000;
  margin: 0;
  border-collapse: collapse;
  text-align: center;
  background-color: #cc9900;
  width: 100px;
  height: 70px;
  flex-shrink: 1;
}

.frame_count
{
  border-bottom: solid 2px #000000;
  flex: 0 1 95px;
  /* width: 95px; */
  height: 15px;
}

tr
{
  display: flex;
  flex-shrink: 1;
}

.ball_1
{
  display: inline-block;
  margin: 0;
  justify-content: center;
  flex: 1 1 45px;
  width: 45px;
  height: 20px;
  /* border: solid 1px red; */
}

.ball_2
{
  display: inline-block;
  border-left: solid 1px #000000;
  border-bottom: solid 1px #000000;
  /* border: solid 1px green; */
  margin: 0;
  width: 45px;
  height: 20px;
  flex: 1 1 45px;

}

.score
{
  display: inline-block;
  justify-content: center;
  width: 90px;
  height: 25px;
  padding-top: 5px;
}

#lastframe_ball1
{
  display: inline-block;
  margin: 0;
  justify-content: center;
  /* width: 25px; */
  height: 20px;
  flex: .25 1;
}

#lastframe_ball2, #lastframe_ball3
{
  display: inline-block;
  border-left: solid 1px #000000;
  border-bottom: solid 1px #000000;
  margin: 0;
  justify-content: center;
  /* width: 25px; */
  height: 20px;
  flex: .2 1;
}

.position, .score_input, .game_changers, .stats
{
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  /*border: solid 1px red;*/
  position: relative;
  display: flex;
  justify-content: space-around;
}

label, input, select
{
  margin: 5px 15px;
}

.previous_frame
{
  max-width: 1280px;
  max-height: 75px;
  margin: 0 auto;
  /*border: solid 1px blue;*/
  position: relative;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.pv_category
{
  display: inline-flex;
  /*border: solid 1px #000000;*/
  margin-left: 15px;
  margin-top: 5px;
  justify-content: center;
  width: 50px;
}

.data
{
  display: inline-flex;
  /*border: solid 1px #000000;*/
  margin-right: 20px;
  margin-top: 5px;
  justify-content: center;
  width: auto;
}

.pin_input
{
  max-width: 1280px;
  display: flex;
  height: auto;
  /*border: solid 1px green;*/
  margin: auto auto;
}

.pin_deck
{
  display: block;
  max-width: 350px;
  height: auto;
  /*border: solid 1px white;*/
  margin: 0 auto;
  align-items: center;
}

.back_row
{
  width: 325px;
  height: 60px;
  /*border: solid 1px tan;*/
  display: flex;
  margin: auto auto;
  vertical-align: middle;
}

.third_row
{
  width: 250px;
  height: 60px;
  /*border: solid 1px tan;*/
  display: flex;
  margin: auto auto;
  vertical-align: middle;

}

.second_row
{
  width: 175px;
  height: 60px;
  /*border: solid 1px tan;*/
  display: flex;
  margin: auto auto;
  vertical-align: middle;
}

.head_pin
{
  width: 100px;
  height: 60px;
  /*border: solid 1px tan;*/
  display: flex;
  margin: auto auto;
  vertical-align: middle;
}

.pin_box
{
  display: inline-flex;
  width: 50px;
  height: 50px;
  /*border: solid 1px black;*/
  margin: 0 auto;
}

.pin_spot
{
  height: 30px;
  width: 30px;
  background-color: #000000;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  transform-origin: center;
  transform: translate(10px,10px);
}

.pin
{
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: auto;
  z-index: 2;
  position: relative;
  display: block;
  opacity: 0;
}

/* .pin_num
{
  position: relative;
  height: 50px;
  margin-left: 20px;
  margin-right: -25px;
  width: 50px;
} */

.buttons li
{
  display: inline-block;
  margin: 0;
  border-collapse: collapse;
  text-align: center;
  text-decoration: none;
}

.buttons
{
  /*border: solid 1px #ffffff;*/
  padding-left: 0px;
}

.score_button
{
  background-color: #ababab;
  border: none;
  color: #000000;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.game_button
{
  background-color: #ababab;
  border: none;
  color: #000000;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.game_stats
{
  display: inline-block;
  margin: 0;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

.category, .percent, .fraction
{
  display: inline-block;
  border: solid 1px #000000;
  margin: 0;
  justify-content: center;
  width: 75px;
}

#stat_title
{
  font-size: 20px;
}
