body
{
  width: auto;
  height:auto;
  background-color: grey;
  display: block;
  font-family: Arial, serif;
  font-size: 16px;
}

.header
{
  padding-top: 8px;
  padding-bottom: 8px;
  /* border: solid 1px blue; */
  background-color: darkgrey;
  max-width: 100%;
  font-variant: small-caps;
  font-size: 20px;
}

.header_container
{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  /* border: solid 1px red; */
}

.logo
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  /* border: solid 1px green; */
}

#ball_logo
{
  height: 52px;
  width: 60px;
  fill:#000000;
  stroke: #000000;
  stroke-width: 0px;
}

.header_menu
{
  display: flex;
  align-items: center;
  width: 100%;
  /* border: solid 1px blue; */
  justify-content: space-between;
}

.nav_list ul, .player_nav ul
{
  display: flex;
  /* border: solid 1px red; */
  padding-inline-start: 0;
  justify-content: space-around;
  margin: 0 5px;
}

li
{
  text-decoration: none;
  display: inline-flex;
  /* border: solid 1px green; */
  flex-shrink: 1;
}

.nav_list a, .player_nav a
{
  text-decoration: none;
  color: #000000;
  padding: 5px 20px;
}

.player_list
{
  margin-left: auto;
}

/* a:hover {
  background-color: #ffffff;
  transition-duration: .5s;
} */
