.section_title
{
  max-width: 1280px;
  height: 40px;
  margin: auto;
  margin-top: 8px;
  display: flex;
  align-content: space-around;
  border: solid 1px blue;
}

.title
{
  border: solid 1px green;
  text-decoration: underline;
  display: flex;
  margin: auto;
  font-size: 30px;
}

.player_info
{
  max-width: 1280px;
  height: 150px;
  border: solid 1px red;
  display: flex;
  margin: 8px auto;
  justify-content: space-around;
  align-items: center;
}

.name_info
{
  width: 1280px;
  height: 75px;
  display: flex;
  border: solid 1px red;
}

.name
{
  border: solid 1px green;
  margin: auto;
  font-size: 50px;
}

.quick_summary, .highs_info
{
  width: 1280px;
  max-height: auto;
  display: flex;
  border: solid 1px green;
  margin: 8px auto;
  align-content: space-around;
}

.avg_summary, .high_game, .high_series
{
  border: solid 1px white;
  display: flex;
  margin: 8px auto;
}

.game_info, .series_info
{
  text-align: center;
}
