.name_info
{
  width: 1280px;
  height: 85px;
  display: flex;
  /* border: solid 1px red; */
  margin: 8px auto;
  justify-content: center;
}

.name
{
  /* border: solid 1px green; */
  margin: auto 0;
  font-size: 50px;
}

.section_title
{
  max-width: 1280px;
  height: 40px;
  margin: 8px auto;
  display: flex;
  justify-content: space-around;
  /* border: solid 1px blue; */
}

.title
{
  /* border: solid 1px green; */
  text-decoration: underline;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}


.quick_summary, .highs_info
{
  max-width: 1280px;
  max-height: auto;
  display: flex;
  /* border: solid 3px red; */
  margin: 8px auto;
  align-content: space-around;
}

.avg_summary, .high_game, .high_series
{
  /* border: solid 1px white; */
  margin: 8px auto;
}

.game_info, .series_info
{
  text-align: center;
}

th, tr, td {
  text-align: center;
  padding: 3px;
}
