.main_container
{
  display: flex;
  max-width: 1280px;
  margin: 10px auto 0 auto;
  border: solid 1px green;
  height: 600px;
}

.quick_description
{
  display: flex;
  max-width: 500px;
  height: 400px;
  float: left;
  border: solid 1px red;
  align-items: center;
  margin: auto;
}

.quick_description span
{
  font-size: 50px;
}

.quick_description p
{
  font-size: 24px;
  word-wrap: normal;
}

.account_form
{
  display: flex;
  max-width: 500px;
  height: 400px;
  float: right;
  border: solid 1px blue;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.why_Placeholder
{
  display: flex;
  max-width: 1280px;
  height: 700px;
  border: solid 1px red;
  margin: 0 auto;
}

.about_us
{
  display: flex;
  width: 1280px;
  height: 700px;
  border: solid 1px blue;
  margin: 0 auto;
}

.goal
{
  display: flex;
  max-width: 1280px;
  height: 700px;
  border: solid 1px white;
  margin: 0 auto;
}
